.loog img{
    width:150px;
}
.loog{
  display:flex;
}
footer ul li{ 
    margin-top: 20px;
list-style-type: none;
}
footer{
background-color: black;
width:1500px;
margin-left: 0px;
margin-right: 0px;
color:#fff;
height:300px;
margin-top:30px;
}
@media screen and (max-width:400px){
    .loog{
        display: block;
    }
}