.mov_img {
  width: 250px;
}
.favoris {
  width: 30px;
  cursor: pointer;
}
.card{
  height: 27rem;
 margin-bottom: 20px;
 margin-top: 25px;
}

.cward:hover{
  transform: scale(1.1);
}
.fav_button{
  border-radius: 50px;
  background-color:rgb(190, 4, 4);
}